html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* Google Map Styles */
/* a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/intl/en-US_US/help/terms_maps.html"],
a[href^="https://www.google.com/maps"]
{
  display: none !important;
}
.gm-bundled-control .gmnoprint {
  display: block;
} */
/* Google Map Styles */

/*Swal Styling*/
.swal2-popup {
  font-size: 0.75rem !important;
  z-index: 100 !important;
}

.swal2-title {
  margin: 0px 40px !important;
}

.swal2-html-container {
  margin: 0px 40px !important;
}
/*Swal Styling*/
